[user]
	email = yanfuru96ongaku@gmail.com
	name = furuyan0906
[core]
	editor = vim
	filemode = true
[safe]
	directory = *
#[url "git@github.com:"]
#    insteadOf = https://github.com/
[init]
	defaultBranch = master
